{% extends 'base.html.twig' %}

{% block title %}Ordinateurs{% endblock %}

{% block body %}
    <h1>Ordinateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for computer in computers %}
            <tr>
                <td>{{ computer.id }}</td>
                <td>{{ computer.title }}</td>
                <td>
                    <a href="{{ path('computer_show', {'id': computer.id}) }}">Voir</a>
                    <a href="{{ path('computer_edit', {'id': computer.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'ordinateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('computer_new') }}" class="btn btn-info">Créer un nouveau</a>
{% endblock %}
